<?xml version="1.0" encoding="UTF-8"?>


<configuration debug="false" scan="false" scanPeriod="30 seconds">
    <appender name="INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>/Users/yaozheng/IdeaProjects/MyIo/logs/logback.log</file>
        <encoder>
            <pattern>%d %level %class [%thread] %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>info.%d{yyyy-mm-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="ASYN-INFO" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>512</queueSize>
        <appender-ref ref="INFO"></appender-ref>
        <includeCallerData>true</includeCallerData>
    </appender>

    <root level="debug">
        <!--<appender-ref ref="INFO"></appender-ref>-->
        <appender-ref ref="ASYN-INFO"></appender-ref>

    </root>

</configuration>
